<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mesto</title>
    <!-- <link rel="stylesheet" href="./pages/index.css"> -->
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/logo.svg') %>"
          alt="Логотип проекта место"
          class="logo header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <div
            class="profile__image"
            style="background-image: url('<%= require('./images/avatar.jpg') %>');"
          ></div>
          <div class="profile__info">
            <h1 class="profile__title">Жак-Ив Кусто</h1>
            <button class="profile__edit-button" type="button"></button>
            <p class="profile__description">Исследователь океана</p>
          </div>
          <button class="profile__add-button" type="button"></button>
        </section>
        <section class="places page__section">
          <ul class="places__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">© 2021 Mesto Russia</p>
      </footer>
      <div class="popup popup_type_edit popup_is-animated">
        <div class="popup__content">
          <button type="button" class="popup__close"></button>
          <h3 class="popup__title">Редактировать профиль</h3>
          <!-- Edit Profile Form -->
          <form class="popup__form" name="edit-profile" novalidate>
            <label>
              <input
                type="text"
                name="name"
                id="name"
                class="popup__input popup__input_type_name"
                placeholder="Имя"
                minlength="2"
                maxlength="40"
                pattern="^[А-яёA-z\s\-]+$"
                data-error="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
                required
              />
              <span id="name-error" class="form__input-error name-error"></span>
            </label>
            <label>
              <input
                type="text"
                name="description"
                id="description"
                class="popup__input popup__input_type_description"
                placeholder="О себе"
                minlength="2"
                maxlength="200"
                pattern="^[А-яёA-z\s\-]+$"
                data-error="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
                required
              />
              <span
                id="description-error"
                class="form__input-error description-error"
              ></span>
            </label>
            <button type="submit" class="button popup__button">
              Сохранить
            </button>
          </form>
        </div>
      </div>
      <div class="popup popup_type_new-card popup_is-animated">
        <div class="popup__content">
          <button type="button" class="popup__close"></button>
          <h3 class="popup__title">Новое место</h3>
          <!-- New Place Form -->
          <form class="popup__form" name="new-place" novalidate>
            <label>
              <input
                type="text"
                name="place-name"
                id="place-name"
                minlength="2"
                maxlength="30"
                class="popup__input popup__input_type_card-name"
                placeholder="Название"
                pattern="^[А-яёA-z\s\-]+$"
                data-error="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
                required
              />
              <span
                id="place-name-error"
                class="form__input-error place-name-error"
              ></span>
            </label>
            <label>
              <input
                type="url"
                name="link"
                id="link"
                class="popup__input popup__input_type_url"
                placeholder="Ссылка на картинку"
                data-error="Разрешены только ссылки на изображения"
                required
              />
              <span id="link-error" class="form__input-error link-error"></span>
            </label>
            <button type="submit" class="button popup__button">
              Сохранить
            </button>
          </form>
        </div>
      </div>
      <div class="popup popup_type_image popup_is-animated">
        <div class="popup__content popup__content_content_image">
          <button type="button" class="popup__close"></button>
          <img src="" alt="" class="popup__image" />
          <p class="popup__caption"></p>
        </div>
      </div>
    </div>
    <div class="popup popup_type_avatar popup_is-animated">
      <div class="popup__content popup__content_avatar">
        <button type="button" class="popup__close"></button>
        <h3 class="popup__title">Обновить аватар</h3>
        <!-- Edit Avatar Form -->
        <form class="popup__form" name="edit-avatar" novalidate>
          <label>
            <input
              type="url"
              name="avatar-link"
              id="avatar-link"
              class="popup__input popup__input_type_url"
              placeholder="Ссылка на картинку"
              data-error="Разрешены только ссылки на изображения"
              required
            />
            <span
              id="avatar-link-error"
              class="form__input-error avatar-link-error"
            ></span>
          </label>
          <button type="submit" class="button popup__button">Сохранить</button>
        </form>
      </div>
    </div>
    <div class="popup popup_type_delete-card popup_is-animated">
      <div class="popup__content popup__content_content_delete-card">
        <button type="button" class="popup__close"></button>
        <h3 class="popup__title">Вы уверены?</h3>
        <form class="popup__form" name="delete-card" novalidate>
          <button type="submit" class="button popup__button">Да</button>
        </form>
      </div>
    </div>
    <!-- <script type="module" src="./index.js" defer></script> -->
    <template id="card-template">
      <li class="places__item card">
        <img class="card__image" src="" alt="" />
        <button type="button" class="card__delete-button"></button>
        <div class="card__description">
          <h2 class="card__title"></h2>
          <div class="card__like-container">
            <button type="button" class="card__like-button"></button>
            <span class="card__like-counter"></span>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
