.card__like-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__like-counter {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 10px;
  min-height: 13px;
  align-self: center;
}
